<li class="work-item %>">
      <%= link_to trip_path(trip) do %>
        <div class="card-trip-img">
          <%= trip_photo_index_tag(trip) %>
        </div>
        <div class="card-trip-city font-alt">
          <p class="post-title font-alt title-city"><%= trip.city %></p>
        </div>
      <% end %>
      <div class="work-caption">
        <h2 class="work-title font-alt"><%= trip.title %></h2>
          <div class="work-descr font-inc"><%= trip.user.name %>
          </div>
      </div>
</li>
