
<div role="tabpanel"  class="row tab-pane active" id="<%= panel_id(tripday) %>" data-map-affix="true" data-map-affix-target="<%= panel_id(tripday) + '_map' %>">
<div class="text-center">
  <h3><%= tripday.title %></h3>
  <p>Date: <%= tripday.date %></p>
</div>
<% if tripday.activities.count > 0 %>
  <div class="col-xs-12 col-lg-4 text-center">
    <img src="<%= tripday.static_map_url %>"></img>
  </div>

  <div class="col-xs-12 col-lg-8">
    <ul class="timeline">
      <% tripday.activities.sort{ |x, y| x.index <=> y.index }.each_with_index do |activity, index| %>
        <li class="<%= 'timeline-inverted' if index % 2 != 0 %>">
          <div class="timeline-badge"><%= image_tag(activity.main_category.icon, class: 'icones') %></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <div class="row">
                      <div class="col-xs-12 col-lg-6">
                        <h4 class="timeline-title"><b><%= "#{activity.index}. #{activity.title}" %></b></h4>
                        <p><i><%= activity.address %></p></i>
                      </div>
                      <% if activity.photo_url != nil %>
                        <div class="col-xs-12 col-lg-6 align-right">
                          <%= cl_image_tag activity.photo , width: 100, height: 60, crop: :fill %>
                        </div>
                      <% end %>
                    </div>
                      <p><small class="text-muted"><%= activity.main_category.title %></small></p>
                  </div>
                <div class="timeline-body">
                  <p><%= activity.description %></p>
                </div>

          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <% else %>
    <div class="text-center">
      <h5>No activity yet</h5>
    </div>
  <% end %>
</div>


