<li class="col-sm-12 col-md-3 col-lg-3 work-item <%= trip.category.downcase %>">
      <%= link_to trip_path(trip) do %>
        <div class="card-trip-img">
          <%= cl_image_tag(trip.photo, width: 400, height: 300, crop: :fill) %>
        </div>
      <% end %>
      <div class="work-caption">
        <h2 class="work-title font-alt"><%= trip.title %></h2>
          <div class="work-descr font-inc"><%= trip.user.name %>
          </div>
      </div>
</li>
