<!-- http://bootsnipp.com/tags/timeline -->

<div role="tabpanel"  class="col-xs-12 col-md-6 col-lg-4  tab-pane active" id="<%= panel_id(tripday) %>" data-map-affix="true" data-map-affix-target="<%= panel_id(tripday) + '_map' %>">
  <div class="text-center">
    <h3><%= tripday.title %></h3>
    <p>Date: <%= tripday.date %></p>
  </div>
  <% if tripday.activities.count > 0 %>
    <div class="text-center">
      <img src="<%= tripday.static_map_url(500, 500) %>"></img>
    </div>
      <ul class="timeline">
        <% tripday.activities.sort{ |x, y| x.index <=> y.index }.each_with_index do |activity, index| %>
          <li class="<%= 'timeline-inverted' if index % 2 != 0 %>">
            <div class="timeline-badge">
              <%= image_tag(activity.main_category.icon, class: 'icones') %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <div class="row">
                  <div class="col-xs-6 text-left">
                    <small class="text-muted"><%= activity.main_category.title %></small>
                  </div>
                  <div class="col-xs-6 text-right">
                    <% if policy(activity).pin? %>
                      <div class="post-pin">
                        <%= link_to pin_activity_path(activity), method: :put, class: "" do %>
                          <% if current_user && current_user.voted_for?(activity) %>
                            <i class="fa fa-plus-square pink-heart fa-2x" aria-hidden="true"></i>
                          <% else %>
                            <i class="fa fa-plus-square pink-heart fa-2x" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <% if activity.photo_url != nil %>
                    <div class="col-xs-12 text-center p-t-10 p-b-10">
                      <%= activity_photo_index_tag(activity) %>
                    </div>
                  <% end %>
                  <div class="col-xs-12 text-left">
                    <h5 class="timeline-title font-alt">
                      <%= "#{activity.index}. #{activity.title}" %>
                    </h5>
                    <p>
                      <strong><%= activity.establishment %></strong>
                      <br/>
                      <i><%= activity.address %></i>
                    </p>
                  </div>
                </div>
              </div>
              <div class="timeline-body">
                <p><%= activity.description %></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

  <% else %>
    <div class="text-center">
      <h5>No activities yet</h5>
    </div>
  <% end %>
</div>


