<div class="col-xs-12 col-md-3 col-lg-4">
  <div class="timeline-panel_noassigned">
    <div class="timeline-heading">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <%= image_tag("activity.jpg", width: 300, height: 200) %>
        </div>
        <div class="col-xs-12 col-lg-6">
          <h4 class="timeline-title"> <b><%= activity.title %></b>
          </h4>
          <p> <i><%= activity.address %></i></p>
        </div>
      </div>
      <p>
        <small class="text-muted">
          <%= activity.main_category.title %>
      </small>
      </p>
    </div>
    <div class="timeline-body">
      <p>
        <%= activity.description %>
      </p>
    </div>
  </div>
</div>
