<div role="tabpanel"  class="row tab-pane <%= 'active' if index == 0 %>" id="<%= tripday.title.downcase.gsub(' ', '_') %>">
<div class="text-center">
  <h3><%= tripday.title %></h3>
  <p>Date: <%= tripday.date %></p>
</div>
  <div class="col-xs-12 col-lg-4">
   <%= image_tag('googlemap.gif', :class => "img_preview" ) %>
  </div>

  <div class="col-xs-12 col-lg-8">
    <ul class="timeline">
      <% tripday.activities.each_with_index do |activity, index| %>
        <li class="<%= 'timeline-inverted' if index % 2 != 0 %>">
          <div class="timeline-badge"><%= image_tag("categories/#{activity.main_category.title.downcase}.png", class: 'icones') %></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <%= image_tag('activity.jpg') %>
                </div>
                <div class="col-xs-12 col-lg-6">
                  <h4 class="timeline-title"><b><%= activity.title %></b></h4>
                  <p><i><%= activity.address %></p></i>
                </div>
              </div>
              <p><small class="text-muted"><%= activity.main_category.title %></small></p>
            </div>
            <div class="timeline-body">
              <p><%= activity.description %></p>
            </div>
          </div>
        </li>
        <% end %>
    </ul>
</div>
</div>


