<div class="trip-edit-wrapper">
  <div class="container-fuid guides-index heigth100">
    <div class="row-fluid text-center heigth100">
      <div class="col-xs-12 col-sm-2 heigth100">
      <!-- Activities not assigned + Add new activity module -->
        les activites non assignees
          <button class="btn btn-success">Add activity</button>

        <div id="grid-0" class="activity-grid works-grid works-grid-gut works-hover-w sortable heigth100 brd-grey">

          <% @activities.where(trip_day: nil).order(index: :asc).each do |act| %>
            <%= render 'activities/card_activity_index', activity: act %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 heigth100">
      <!-- Trip Days and Itiniraries -->
        les jours
        <div class="row width100 inblock brd-grey heigth100">
          <% @trip_days.each do |td| %>
            <div class="col-xs-4 inblock trip-day brd-red heigth100">
              <%= td.title %>
              <div id="grid-<%= td.id %>" class="activity-grid works-grid works-grid-gut works-hover-w sortable heigth100 brd-grey">
                <% @activities.where(trip_day: td).order(index: :asc).each do |act| %>
                  <%= render 'activities/card_activity_index', activity: act %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 heigth100">
      <!-- Map, to do, references, etc... -->
        <div class="map_container" style="width: 100%; height: 50%;">
          <%= render 'shared/maps', map_hash: @map_hash %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <script>
    $(document).ready(function() {
      // TODO Check safety!!!
      var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

      // SORTING !!!
      // Define all lists you can connect together
      var connectable_lists = "#grid-0";
      var days = $('.trip-day .sortable');
      for (var i = 0; i < days.length; i++) {
         connectable_lists = connectable_lists.concat(", #" + days[i].id);
         console.log(days[i].id)
      }

      $( connectable_lists ).sortable({
          connectWith: ".sortable",
          placeholder: "placeholder-highlight ui-corner-all",
          handle: ".activity-item-header",
          cancel: ".activity-item-toggle",
          stop: function( event, ui ) {
            savePosition(event, ui)
          }
      });

      function savePosition(event, ui) {
        // check why this ?
        var element = $(this);
        // define update parameters to save
        var activity_id = ui.item[0].id.split("-").pop(); // get the id of the element
        var day = ui.item[0].parentElement.id.split("-").pop();
        //var day = $(".activity-grid").index(ui.item[0].parentElement); // get the column parent
        var index = $("#grid-" + day + " .activity-item").index(ui.item) + 1; // get the index inside the column
        var data = {
          activity: {
            trip_day_id: day,
            index: index
          },
          authenticity_token: AUTH_TOKEN
        };

        $.ajax({
          type: 'PUT',
          url: '/activities/' + activity_id + '/change_position/',
          data: data,
          success: function(data) {
            console.log(data);
            // callback(data); // return data in callback
          },
          error: function(jqXHR) {
            console.error(jqXHR.responseText);
          }
        });
      }


      // $( ".activity-item" )
      //   .addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
      //   .find( ".activity-item-header" )
      //     .addClass( "ui-widget-header ui-corner-all" )
      //     .prepend( "<span class='ui-icon ui-icon-minusthick activity-item-toggle'></span>");

      // $( ".activity-item-toggle" ).on( "click", function() {
      //   var icon = $( this );
      //   icon.toggleClass( "ui-icon-minusthick ui-icon-plusthick" );
      //   icon.closest( ".activity-item" ).find( ".activity-item-content" ).toggle();

    });
  </script>
<% end %>
