<% content_for(:title) do %>
  <%= @trip.title %> | Edit | Yala!
<% end %>

<% @disable_footer = true %>

<!-- Get icons for google maps display -->
<% trip_icons = set_day_icon(@trip.trip_days) %>

<div id="surface">
  <div id="content">
    <div class="trip-edit-wrapper">
      <div class="container-fuid heigth100">
        <div class="row-fluid text-center heigth100">

          <!-- AUTRES -->
          <div class="col-xs-8 col-sm-2 heigth100">
          <!-- Activities not assigned + Add new activity module -->
            <p>Unassigned(<%= image_tag trip_icons[0], class: "avatar-mini" %>)</p>
            <div class="row">
              <div class="col-xs-12">
                <%= render 'activities/form_new_establishment_from_trip', activity: @activity, trip: @trip, main_categories: @main_categories %>
                <!-- <button type="button" class="btn btn-g width100 no-h-padding" data-toggle="modal" data-target="#modal_establishment">Add a specific place</button> -->
              </div>
                <!--  <div class="col-xs-12">
                <button type="button" class="btn btn-g width100 no-h-padding" data-toggle="modal" data-target="#modal_category">Add an activity</button>
              </div> -->
          </div>
            <div id="grid-0" class="activity-grid works-hover-w sortable accordion heigth80">
              <% @trip.activities.where(trip_day: nil).order(index: :asc).each do |act| %>
                <%= render 'activities/card_activity_index', activity: act %>
              <% end %>
            </div>
          </div>

          <!-- LE VOYAGE JOUR PAR JOUR -->
          <div class="col-xs-12 col-sm-6 heigth100">
            <!-- Trip Days and Itiniraries -->
            <p class="font-alt"><%= @trip.title %></p>
            <div class="row width100 inblock side-brd-grey heigth90">
              <% @trip.trip_days.each do |td| %>
                <div class="col-xs-4 inblock trip-day heigth100">
                  <p><%= td.title %>(<%= image_tag trip_icons[td.id], class: "avatar-mini" %>)</p>
                  <div id="grid-<%= td.id %>" class="activity-grid works-hover-w sortable accordion heigth90">
                    <% @trip.activities.where(trip_day: td).order(index: :asc).each do |act| %>
                      <%= render 'activities/card_activity_index', activity: act %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <!-- /LE VOYAGE JOUR PAR JOUR -->

          <!-- AUTRES -->
          <div class="col-xs-12 col-sm-4 heigth100">

            <!-- BOUTONS -->
            <div class="buttons margined" style="width: 100%;">
              <div class="row">
                <div class="col-xs-3 mini-h-padding">
                  <%= button_to make_my_day_trip_path(@trip), class: "btn btn-success  width100 text-center no-h-padding", method: :put do %>
                    <span class="icon-genius"></span>Make my day
                  <% end %>
                </div>
                <div class="col-xs-3 mini-h-padding">
                  <%= button_to trip_path(@trip), class: "btn btn-info width100  text-center no-h-padding", method: :get do %>
                    <span class="icon-printer"></span> Print
                  <% end %>
                </div>
                <div class="col-xs-3 mini-h-padding">
                  <%= button_to properties_trip_path(@trip), class: "btn btn-info width100  text-center no-h-padding", method: :get do %>
                    <span class="icon-pencil"></span> Edit
                  <% end %>
                </div>
                <div class="col-xs-3 mini-h-padding">
                  <%= button_to trip_path(@trip), class: "btn btn-danger width100 text-center no-h-padding", method: :delete, data: {confirm: "CAUTION !!! THIS IS NOT REVERSIBLE - Are you sure you want to delete the entire trip?"} do %>
                    <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>DELETE
                  <% end %>
                </div>
              </div>
            </div>

            <!-- Map, to do, references, etc... -->
            <div class="map_container" style="width: 100%; height: 50%;">
              <%= render 'shared/maps', map_hash: set_map_hash(@trip.activities, trip_icons) %>
            </div>

            <!-- Description of the trip to edit -->
            <div class="other_container brd-lightgry" style="width: 100%; height: 30%;">
              <p><span class="font-alt">Description:</span></p>
              <p><%= @trip.description %></p>
              <span id="city_coordinates" style="display:none;"><%= "#{@trip.lat}|#{@trip.lon}" %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<% content_for(:js) do %>
  <script>
    $(document).ready(function() {
      // TODO Check safety!!!
      var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

      // SORTING !!!
      // Define all lists you can connect together
      var connectable_lists = "#grid-0";
      var days = $('.trip-day .sortable');
      for (var i = 0; i < days.length; i++) {
         connectable_lists = connectable_lists.concat(", #" + days[i].id);
      }

      $( connectable_lists ).sortable({
          connectWith: ".sortable",
          placeholder: "placeholder-highlight ui-corner-all",
          handle: ".activity-item-header",
          cancel: ".activity-item-toggle",
          stop: function( event, ui ) {
            savePosition(event, ui)
          }
      });

      $( ".accordion" ).accordion({
        header: "> div > div.activity-item-header",
        collapsible: true,
        heightStyle: "content",
        active: false
      });

      // document.getElementById( 'ui' ).style.display = 'none';

      function savePosition(event, ui) {
        // check why this ?
        var element = $(this);
        // define update parameters to save
        var activity_id = ui.item[0].id.split("-").pop(); // get the id of the element
        var day = ui.item[0].parentElement.id.split("-").pop();
        //var day = $(".activity-grid").index(ui.item[0].parentElement); // get the column parent
        var index = $("#grid-" + day + " .activity-item").index(ui.item) + 1; // get the index inside the column
        var data = {
          activity: {
            trip_day_id: day,
            index: index
          },
          authenticity_token: AUTH_TOKEN
        };

        $.ajax({
          type: 'PUT',
          url: '/activities/' + activity_id + '/change_position/',
          data: data,
          success: function(data) {
            //console.log(data);
            console.log('index updated');
            $('#autoRefresh').click();
            // callback(data); // return data in callback
          },
          error: function(jqXHR) {
            console.error(jqXHR.responseText);
          }
        });
      }
    });
  </script>
<% end %>
