<h2>Create a trip now!</h2>

<%= simple_form_for @trip, defaults: { input_html: { class: 'form-inline' } } do |f| %>
  <%= f.input :city, input_html: { maxlength: 20 } %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit %>
<% end %>
