<h2>Create a trip now!</h2>

<%= simple_form_for @trip, defaults: { input_html: { class: 'form-inline' } } do |f| %>
  <%= f.input :city, input_html: { maxlength: 20 } %>
  <%= f.input :country, :as => :hidden%>
  <%= f.input :title %>
  <%= f.input :description, :as => :text %>
  <%= f.input :category %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit %>
<% end %>


<!-- https://api.flickr.com/services/rest/?method=flickr.photos.search&api_key=62b4d043cc35b97fb3e86b4fa9330f71&tags=street%2C+exterieur%2C+hdr&text=Londres&license=3%2C4%2C5%2C6%2C7&sort=interestingness-desc&safe_search=1&content_type=1&format=json&auth_token=72157675491863902-8690853b197fec9e&api_sig=708692d91ad0986b4a0b715547de09f2
 -->
