<div class="banner_trip" style="background:url(<%= image_path 'cities/city' + Random.rand(1..8).to_s + '.jpg' %>); height: 350px; background-repeat:no-repeat; background-size:cover">
  <div class="trip_descri text-center">
    <h1><%= @trip.title %></h1>
    <h4>By: <%= @trip.user.username %></h4>
  </div>
</div>
    <ul class="nav nav-tabs" role="tablist">
    <% @trip.trip_days.each_with_index do |tripday, index| %>
      <li role="presentation"><a href="#<%= tripday.title.downcase.gsub(' ', '_') %>" aria-controls="home" role="tab" data-toggle="tab"><%= tripday.title %></a></li>
    <% end %>
      <li class="active" role="presentation" data-show-unassigned="true" id="tab_all"><a href="#" aria-controls="home" role="tab" data-toggle="tab">Your week-end</a></li>
  </ul>
  <div class="imprim text-center">
  <div class="mini-padded"></div>
    <%= link_to trip_path(@trip, format: :pdf), target: '_blank' do %>
      <i class="fa fa-print fa-2x" aria-hidden="true"></i>
    <% end %>
    <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
    <i class="fa fa-thumb-tack fa-2x" aria-hidden="true"></i>
  </div>
<div class="container_day tab-content">
  <% @trip.trip_days.each_with_index do |tripday, index| %>
  <%= render 'card_trip_show', tripday:tripday , index:index %>
  <% end %>
</div>

<div class="container noassigned">
  <h3 class="text-center">No assigned activities</h3>
  <div class="mini-padded"></div>
  <div class="row">
      <% @trip.activities.each do |activity| %>
      <% if activity.trip_day_id == nil %>
        <%= render 'card_noassigned', activity:activity %>
      <% end %>
    <% end %>
  </div>
  <div class="padded"></div>
</div>


<% content_for :js do %>

  <%= javascript_tag do %>
    $('#tab_all').on('click',function(e){
      $('#tab_all').parent().addClass('active');
      $('.tab-pane').addClass('active in');
      $('[data-toggle="tab"]').parent().removeClass('active');
    });

    $('[data-toggle="tab"]').click(function (e) {
      $('.noassigned').hide();
    });

    $('[data-show-unassigned="true"]').click(function (e) {
      $('.noassigned').show();
    });
  <% end %>

<% end %>
