<% content_for(:title) do %>
  <%= @trip.title %>
<% end %>

<!-- BANNER -->
<div class="banner_trip" style="background:url(<%= trip_photo_show_path(@trip) %>); height: 300px; background-repeat:no-repeat; background-size:cover">
  <div class="trip_descri text-center">
    <h1><%= @trip.title %></h1>
    <h4>By: <%= @trip.user.username %></h4>
  </div>
</div>

<!-- NAVBAR -->


<!-- DESCRIPTION OF TRIP -->
<div class="mini-padded"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center border-bottom">
      <blockquote class="font-serif col-xs-10 col-xs-offset-1">
        <p>"<%= @trip.description %>"</p>
      </blockquote>
    </div>
  </div>
</div>
<!-- /DESCRIPTION -->

<!-- ICONS -->
<div class="imprim">
  <div class="mini-padded"></div>
    <div class="content-box padded-icon">
      <div class="content-box-icon">
          <%= link_to trip_path(@trip, format: :pdf), target: 'blank' do %>
          <div class="fa fa-print icon-grey" ></div>
          <% end %>
      </div>
      <div class="content-box-title font-inc">Print</div>
    </div>
    <% if policy(@trip).like? %>
      <div class="content-box padded-icon">
        <div class="content-box-icon">
          <%= link_to like_trip_path(@trip), method: :put do %>
              <% if current_user && current_user.voted_for?(@trip) %>
                <div class="fa fa-heart red-heart"></div>
              <% else%>
                <div class="fa fa-heart icon-grey"></div>
              <% end %>
          <% end %>
        </div>
        <div class="content-box-title font-inc">Like</div>
      </div>
    <% end %>
<!--       <div class="content-box padded-icon">
      <div class="content-box-icon">
        <div class="fa fa-share-alt icon-grey"></div>
      </div>
      <div class="content-box-title font-inc">Share</div>
    </div> -->
    <% if policy(@trip).send_trip? %>
      <div class="content-box padded-icon">
        <div class="content-box-icon">
          <%= link_to send_trip_trip_path do %>
            <div class="fa fa-envelope icon-grey"></div>
          <% end %>
        </div>
        <div class="content-box-title font-inc">
                Mail me
        </div>
      </div>
    <% end %>

    <% if policy(@trip).edit? %>
      <div class="content-box padded-icon">
        <div class="content-box-icon">
          <%= link_to edit_trip_path do %>
            <div class="fa fa-pencil icon-grey"></div>
          <% end %>
        </div>
        <div class="content-box-title font-inc">
                Edit
        </div>
      </div>
    <% end %>

</div>
<!-- /ICONS -->

<!-- TRIP DAY BY DAY -->
<div class="container tab-content">
  <div class="row">
    <% @trip.trip_days.each_with_index do |tripday, index| %>
      <%= render 'card_trip_day_show', tripday:tripday , index:index %>
    <% end %>
  </div>

  <!-- UNASSIGNED ACTIVITIES -->
  <div class="row noassigned">
    <h3 class="text-center">Other activities unassigned</h3>
    <div class="mini-padded"></div>
        <% @trip.activities.where(trip_day_id: nil).sort{ |x, y| x.index <=> y.index }.each do |activity| %>
          <%= render 'card_noassigned', activity:activity %>
      <% end %>
    <div class="padded"></div>
  </div>
  <% unless current_user.nil? %>
    <%= render 'trips/modal_assign_trip', user_trips: current_user.trips %>
  <% end %>
</div>



<% content_for :js do %>
  <script>
      $(function () {
        $('#tab_all').on('click',function(e){
          $('#tab_all').parent().addClass('active');
          $('.tab-pane').addClass('active in');
          $('[data-toggle="tab"]').parent().removeClass('active');
        });

        $('[data-toggle="tab"]').click(function (e) {
          $('.noassigned').hide();
        });

        $('[data-show-unassigned="true"]').click(function (e) {
          $('.noassigned').show();
        });

        $( ".fa-heart" ).click(function() {
          $( this ).toggleClass( "red-heart icon-grey" );
        });

        $( ".fa-plus-square" ).click(function() {
          $( this ).toggleClass( "red-heart icon-grey" );
        });

        $('#modalAssignTrip').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var activityId = button.data('activity') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-title').text('Save activity ' + activityId + ' to a trip')
          modal.find('.copy-link').each(function( index ) {
            tripId =  $( this )[0].dataset.trip
            $( this )[0].href = '/trips/' + tripId + '/activities/' + activityId + '/copy' ;
          });
        })

    })
  </script>
<% end %>
