<div class="container">
  <div class="row text-center">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="panel panel-default">
          <div class="form-inputs">
            <div class="panel-heading">
              <h2><%= t(".forgot_your_password") %></h2>
            </div>

              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <%= f.input :email, required: true, autofocus: true %>
                  </div>
                </div>
                <div class="mini-padded"></div>
                <div class="form-actions">
                  <%= f.button :submit, t(".send_me_reset_password_instructions") %>
                </div>
                <div class="mini-padded"></div>
              </div>
          </div>
          <%= render "devise/shared/links" %>
          <div class="mini-padded"></div>
        </div>
      </div>
  <% end %>
  </div>
</div>

<div class="padded"></div>

