<div class="wrapper">
    <section class="module module-header bg-dark bg-dark-50" data-background=<%= image_path('cities/city2.jpg') %> >
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h1 class="module-title font-alt align-center">Your profil</h1>
        </div>
      </div>
</div>

  </section >
<div class="container">
  <div class="mini-padded"></div>
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="mini-padded"></div>
        <div class="text-center">
        <%= cl_image_tag @user.photo, height: 200, width: 200, crop: :fill, :class => "img-circle profile_photo" %>
        <%= f.file_field :photo, :class => "up_photo"  %>
        <%= f.hidden_field :photo_cache, :class => "up-photo" %>
        </div>
      </div>

    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
    <div class="padded"></div>
      <div class="form-group ">
        <%= f.label :username, class: 'col-lg-3 control-label' %>
        <div class="col-lg-8">
          <%= f.text_field :username, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group ">
        <%= f.label :first_name, class: 'col-lg-3 control-label' %>
        <div class="col-lg-8">
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group ">
        <%= f.label :last_name, class: 'col-lg-3 control-label' %>
        <div class="col-lg-8">
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :phone, class: 'col-lg-3 control-label' %>
        <div class="col-lg-8">
          <%= f.text_field :phone, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :hometown, class: 'col-lg-3 control-label' %>
        <div class="col-lg-8">
          <%= f.text_field :hometown, class: 'form-control' %>
        </div>
      </div>
      <div class="mini-padded"></div>

      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <div class="form-actions text-center back">
          <%= f.submit "Update", class: 'btn btn-g' %>
          <%= link_to t("devise.shared.links.back"), :back %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
<div class="padded"></div>



