<div class="container">
  <h2 class="page-header text-center">Edit Profile</h2>
  <div class="padded"></div>
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-center">
          <img src="http://lorempixel.com/200/200/people/9/" class="img-circle" alt="photo">
          <h6>Upload a different photo...</h6>
          <input type="file" class="text-center center-block well well-sm">
        </div>
      </div>

    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="form-group ">
        <%= f.label :username, class: 'col-lg-3 control-label' %>
        <div class="col-lg-8">
          <%= f.text_field :username, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :mobile, class: 'col-lg-3 control-label' %>
        <div class="col-lg-8">
          <%= f.text_field :mobile, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :hometown, class: 'col-lg-3 control-label' %>
        <div class="col-lg-8">
          <%= f.text_field :hometown, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <div class="form-actions text-center">
          <%= f.submit "Update", class: 'btn btn-g' %>
          <%= link_to t("devise.shared.links.back"), :back, html_options = { class: 'btn btn-g' } %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>



