<!-- PRELOADER -->
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <!-- /PRELOADER -->

  <!-- NAVIGATION -->
  <nav class="navbar navbar-custom <%= "navbar-fixed-top navbar-transparent" if (controller_name == "pages") %><%= "navbar-custom-black navbar-transparent" if (controller_name != "home") %>" role="navigation">

      <div class="container">
        <div class="navbar-header">
          <div class="navbar-header"><%= link_to("YA-LA", root_path, class: "navbar-brand navbar-link") %>
          <button data-toggle="collapse" data-target="#custom-collapse" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
        </div>

        <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li role="presentation"><%= link_to("Mes voyages", trips_path)%></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
              <ul class="dropdown-menu" role="menu">

                <li class="dropdown">
                  <%= link_to("Mon profil", edit_user_registration_path)%>
                </li>

                <li class="dropdown">
                  <%= link_to("Sign out", destroy_user_session_path, method: :delete) %>
                </li>
              </ul>
            </li>

          </ul>
        </div>
        <% else %>
          <div class="collapse navbar-collapse" id="navcol-1">
            <p class="navbar-text navbar-right actions ">
              <%= link_to("sign in", new_user_session_path, class: "navbar-link login") %>
              <%= link_to("sign up", new_user_registration_path, class: "btn btn-g btn-round action-button", role: "button") %>
            </p>
          </div>
        <% end %>
      </div>
  </nav>









