  <!-- HOME -->
  <section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-30" data-background="<%= image_path('background.jpg') %>">

    <div class="hs-caption container">
      <div class="caption-content">
        <div class="hs-title-size-4 font-alt m-b-30">
          <div>Plan your very own</div>
          <div id="slogan" data-text="family trip to Barcelona"></div>
        </div>
        <div class="hs-title-size-2 font-alt m-b-30">
          <div>Prepare a tailor-made trip to any city</div>
          <div>with only your own addresses</div>
        </div>
        <div class="buttons_home text-center">
          <%= link_to t("START YOUR TRIP"), new_trip_path, :class => "btn btn-success btn-lg" %>
          <%= link_to t("EXPLORE THE WORLD"), trips_path, :class => "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>

  </section >
  <!-- /HOME -->

  <!-- WRAPPER -->
  <div class="wrapper">


    <!-- WHAT WE DO -->
    <section class="module-small background-grey">
      <div class="container">
        <div class="row">
          <!-- MODULE TITLE -->
          <div class="col-xs-12 text-center">
            <h2 class="module-title no-margin font-alt">How does it work</h2>
          </div>
          <!-- /MODULE TITLE -->

          <!-- CONTENT BOX -->
          <div class="col-xs-6 col-sm-3">
            <div class="content-box">
              <div class="content-box-icon">
                <%= image_tag "home/1find.svg", class: "avatar-xlarge" %>
              </div>
              <div class="content-box-title font-inc">
                1. Find a city you'd like to visit
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-xs-6 col-sm-3">
            <div class="content-box">
              <div class="content-box-icon">
                <%= image_tag "home/2search.svg", class: "avatar-xlarge" %>
              </div>
              <div class="content-box-title font-inc">
                2. Add addresses from friends, internet, magazines, paper guides
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-xs-6 col-sm-3">
            <div class="content-box">
              <div class="content-box-icon">
                <%= image_tag "home/3magic.png", class: "avatar-xlarge" %>
              </div>
              <div class="content-box-title font-inc">
                3. Sort activities day by day with magic
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-xs-6 col-sm-3">
            <div class="content-box">
              <div class="content-box-icon">
                <%= image_tag "home/4take.png", class: "avatar-xlarge" %>
              </div>
              <div class="content-box-title font-inc">
                4. Take your trip with you
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->
        </div>
      </div>
    </section>
    <!-- /WHAT WE DO -->

    <!-- PORTFOLIO -->
    <section class="module-small p-b-0">
      <div class="container">

        <!-- PORTFOLIO FILTER -->
        <div class="row">
          <!-- MODULE TITLE -->
            <div class="col-xs-12 text-center">
              <h2 class="module-title no-margin font-alt">Browse our best trips</h2>
              <div class="mini-padded"></div>
              <div class="mini-padded"></div>
            </div>
          <!-- /MODULE TITLE -->
        </div>
        <!-- /PORTFOLIO FILTER -->


      <!-- PORTFOLIO LIST -->
      <ul id="works-grid" class="works-grid works-grid-masonry works-grid-4 works-hover-w">
          <% @trips.each do |trip| %>
            <%= render 'trips/card_trip_home', trip: trip %>
          <% end %>
      </ul>
        <!-- LOOP ON ITEMS -->


      </div>
    </div>
    </section>
    <!-- /PORTFOLIO -->



    <!-- TESTIMONIAL -->
    <section class="module-small background-grey">
      <div class="container">
        <div class="row">
          <!-- MODULE TITLE -->
          <div class="col-xs-12 text-center">
            <h2 class="module-title no-margin font-alt">Testimonials</h2>
            <div class="mini-padded"></div>
          </div>
          <!-- /MODULE TITLE -->


          <!-- BLOCKQUOTE -->
          <div class="col-xs-6">
            <blockquote class="font-serif align-right">
              <p>"This website is absolutely MIND BLOWING. For real. I've been dreaming of such a tool for years and never found something suitable. It's incredible what these guys did."</p>
              <p class="font-inc font-uppercase"><%= image_tag "victor.jpg", class: "avatar-large" %>- Victor</p>
            </blockquote>
          </div>
          <div class="col-xs-6">
            <blockquote class="font-serif align-right">
              <p>"What an amazing tool! Ya-la is my best friend for planning my trips. I really recommend it..Perfect for instant and easy travel planning!"</p>
              <p class="font-inc font-uppercase"><%= image_tag "guilaine.jpg", class: "avatar-large" %>- Guilaine</p>
            </blockquote>
          </div>
          <!-- /BLOCKQUOTE -->

        </div>

      </div>

    </section>
    <!-- /TESTIMONIAL -->

    <!-- ABOUT -->
    <section class="module module-small p-t-0 p-b-0 img_background" data-background="<%= image_path 'about.jpg' %>">

      <div class="container-fluid container-height">

        <div class="row relative">

          <div class="col-xs-12 col-md-6 col-md-offset-6 col-bg"> <!-- removed col-bg to reduce size of padding! -->

            <h2 class="module-title font-alt">About</h2>

            <div class="module-subtitle font-inc">
              Create trips really tailor made and organize as you will
            </div>

            <p>When travelling for week ends or holidays, you want to enjoy each moment with things you really like to do, that are worth it, and you don't want to miss out on the highlights of the city you're visiting.</p>

            <p>To achieve this, you ask friends for recommandation, you buy guides, magazines, you check websites, apps, you save addresses, take notes, etc....</p>

            <p>You end up lost in too much data. On the ground, you never know what to do. Once back, you realize you forgot tons of things</p>

            <p>THOSE DAYS ARE OVER! Yala lets you aggregate ideas from all the sources, sort them by trip, by category, and organize in the most convenient way your trip so that you never forget anything</p>

            <ul class="social-list text-center">
              <li><a href="https://www.facebook.com/yalaapp/"  target="_blank"><span class="icon-facebook"></span></a></li>
            </ul>

          </div>

        </div>

      </div>

    </section>
    <!-- /ABOUT -->

    <!-- CONTACT -->
    <section class="module-small">

      <div class="container">

        <div class="row">

          <!-- CONTENT BOX -->
          <div class="col-xs-4">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-map-pin"></span>
              </div>
              <div class="content-box-title font-inc">
                Lille
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-xs-4">
            <div class="content-box">
              <a href="http://m.me/yalaapp" target="_blank">
                <div class="content-box-icon">
                  <span class="icon-phone"></span>
                </div>
                <div class="content-box-title font-inc">
                  messenger
                  (coming soon)
                </div>
              </a>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-xs-4">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-envelope"></span>
              </div>
              <div class="content-box-title font-inc">
                mail
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

        </div>

      </div>

    </section>
    <!-- /CONTACT -->
  </div>


<% content_for(:js) do %>
  <script>
    $(document).ready(function() {
      var worksgrid_mode;
      worksgrid  = $('#works-grid');

      if (worksgrid.hasClass('works-grid-masonry')) {
        worksgrid_mode = 'masonry';
      } else {
        worksgrid_mode = 'fitRows';
      }

      worksgrid.imagesLoaded(function() {
        worksgrid.isotope({
          layoutMode: worksgrid_mode,
          itemSelector: '.work-item',
        });
      });

      $('#filters a').click(function() {
        $('#filters .current').removeClass('current');
        $(this).addClass('current');
        var selector = $(this).attr('data-filter');

        worksgrid.isotope({
          filter: selector,
          animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
          }
        });

        return false;
      });



      (function($){

          $.fn.typer = function(options){

              var defaults = $.extend({
                  search: '',
                  replace: [],
                  speed: 50,
                  delay: 5000
              }, options);

              var bintext = function(length){
                  var text = '';
                  for(var $i = 0; $i<=length;$i++) {
                      text = text + Math.floor(Math.random() * 2)
                  }
                  return text;
              };

              this.each(function(){

                  var $this = $(this);
                  var $text = $this.data('text');
                  var position = 0;

                  var indexOf = $text.indexOf( defaults.search );
                  var normal = $text.substr(0, indexOf);
                  var changer = $text.substr(indexOf, $text.length);

                  defaults.replace.push(changer);

                  var interval = setInterval(function(){
                      var $bintext = '';

                      if( position == indexOf ) {

                          $bintext = bintext(changer.length-1);

                          $this.html( $text.substr(0, normal.length) );
                          $this.append('<span>' + $bintext + '</span>')

                      } else if( position > indexOf ) {


                          $bintext = bintext($text.length-1);

                          $this.delay(defaults.speed).find('span').html(
                              changer.substring(0, position - indexOf) +
                              $bintext.substring(position, ($bintext.length))
                          );

                      } else if( position < indexOf ) {

                          $bintext = bintext($text.length-1);

                          $this.delay(defaults.speed).html(
                              normal.substring(0, position) +
                              $bintext.substring(position, ($bintext.length))
                          );

                      }

                      if( position < $text.length ) {
                          position++;
                      } else {
                          clearInterval(interval);

                          var index = 0;
                          setInterval(function(){

                              var position = 0;
                              var newText = defaults.replace[index];

                              var changeInterval = setInterval(function(){

                                  var $bintext = '';
                                  for(var $i = 0; $i<=newText.length-1;$i++) {
                                      $bintext = $bintext + Math.floor(Math.random() * 2)
                                  }

                                  $this.delay(defaults.speed).find('span').html(
                                      newText.substring(0, position) +
                                      $bintext.substring(position, ($bintext.length))
                                  );

                                  if( position < $text.length ) {
                                      position++;
                                  } else {
                                      clearInterval(changeInterval);
                                  }

                              }, defaults.speed);

                              if( index < defaults.replace.length-1 ) {
                                  index++;
                              } else {
                                  index = 0;
                              }
                          }, defaults.delay)


                      }
                  }, defaults.speed)

              });

          }



      })(jQuery)

      $(function(){
        if (window.matchMedia("(min-width: 768px)").matches) {
          $('#slogan').typer({
            search: 'family trip to Barcelona',
            replace: ['lovers getaway to Paris', 'bachelor party in Berlin', 'shopping in Milan', 'weekend in London']
          })
        } else {
          $('#slogan').html("family trip to Barcelona")
        }
      })

    });
  </script>
<% end %>
