<!-- PORTFOLIO ITEM -->
<div id="act-<%= activity.id %>" class="activity-item illustration webdesign <%= activity.main_category.color %>">
  <div class="activity-item-header">
    <div class="activity-logo-cat">
      <%= image_tag(activity.main_category.icon, class: 'avatar-small') %>
    </div>
    <div class="content-box-title editable-field" data-field="title" data-activity-id="<%= activity.id %>" title="Double-click to edit">
      <span class="editable-text"><%= activity.title %></span>
      <input type="text" class="editable-input" value="<%= activity.title %>" style="display: none;">
    </div>
  </div>
  <div class="activity-item-content content-box-text no-padding">
    <div class="left-aligh sm-txt">
      <p><span class="font-alt"><%= humanize_place_type(activity.google_category) %>:</span> <%= activity.establishment %></p>

      <p>
        <span class="font-alt">Description:</span>
        <span class="editable-field editable-textarea" data-field="description" data-activity-id="<%= activity.id %>" title="Double-click to edit">
          <span class="editable-text"><%= activity.short_description(80) %></span>
          <textarea class="editable-input" style="display: none;"><%= activity.description %></textarea>
        </span>
      </p>

      <p>
        <span class="font-alt">URL:</span>
        <span class="editable-field" data-field="url" data-activity-id="<%= activity.id %>" title="Double-click to edit">
          <span class="editable-text editable-url"><%= activity.url.present? ? activity.url : 'Add URL...' %></span>
          <input type="url" class="editable-input" value="<%= activity.url %>" placeholder="https://..." style="display: none;">
        </span>
      </p>

      <p><span class="font-alt">Address:</span><%= activity.address %></p>

      <p>
        <span class="font-alt">Category:</span>
        <span class="editable-field editable-select" data-field="main_category_id" data-activity-id="<%= activity.id %>" title="Click to change">
          <span class="editable-text"><%= activity.main_category.title %></span>
          <select class="editable-input" style="display: none;">
            <% MainCategory.all.each do |cat| %>
              <option value="<%= cat.id %>" <%= 'selected' if cat.id == activity.main_category_id %>><%= cat.title %></option>
            <% end %>
          </select>
        </span>
      </p>

      <p>
        <span class="font-alt">Photo:</span>
        <span class="photo-field" data-activity-id="<%= activity.id %>">
          <% if activity.photo.present? && activity.photo != "" %>
            <%= cl_image_tag(activity.photo, width: 30, height: 20, crop: :fill, class: 'photo-preview') %>
          <% end %>
          <label class="photo-upload-link">
            <span class="icon-camera"></span> <%= activity.photo.present? && activity.photo != "" ? 'Change' : 'Upload' %>
            <input type="file" class="photo-input" accept="image/*" style="display: none;">
          </label>
        </span>
      </p>

      <!-- Mobile Move Action -->
      <div class="mobile-move-action">
        <div class="dropdown">
          <button class="btn btn-sm btn-default dropdown-toggle mobile-move-btn"
                  type="button" data-toggle="dropdown"
                  data-activity-id="<%= activity.id %>">
            <i class="fa fa-arrows"></i> Move to...
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu mobile-move-dropdown">
            <li class="dropdown-header">Move to Day:</li>
            <li><a href="#" class="move-to-day" data-day-id="0" data-activity-id="<%= activity.id %>">
              <i class="fa fa-list"></i> Unassigned (Plan)
            </a></li>
            <% activity.trip.trip_days.each do |day| %>
              <li><a href="#" class="move-to-day" data-day-id="<%= day.id %>" data-activity-id="<%= activity.id %>">
                <i class="fa fa-calendar"></i> <%= day.title %>
              </a></li>
            <% end %>
          </ul>
        </div>
      </div>

      <h4 class="text-center">
        <%= link_to activity, method: :delete, remote: true, data: {confirm: "Are you sure?"} do %>
          <span class="icon-scissors"></span> Delete
        <% end %>
      </h4>
    </div>
  </div>
  <%= render 'activities/modal_edit_activity', activity: activity %>
</div>
<!-- /PORTFOLIO ITEM -->
