<!-- PORTFOLIO ITEM -->
<div id="act-<%= activity.id %>" class="activity-item illustration webdesign brd-red">
  <div class="activity-item-header">
    <h3 class="work-title font-alt"><%= activity.title %><%= "(#{activity.index})" %></h3>
  </div>
  <div class="activity-item-content work-descr">
    <%= link_to edit_activity_path(activity) do %>
      <strong><%= " @ " + activity.establishment %></strong>
      <%= activity.short_description(50) %>
    <% end %>
    <%= link_to edit_activity_path(activity) do %>
      <i class="fa fa-pencil activity-edit" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
<!-- /PORTFOLIO ITEM -->
