<!-- PORTFOLIO ITEM -->
<div id="act-<%= activity.id %>" class="activity-item illustration webdesign <%= activity.main_category.color %>">
  <div class="activity-item-header">
    <div class="activity-logo-cat">
      <%= image_tag(activity.main_category.icon, class: 'avatar-small') %>
    </div>
    <div class="content-box-title">
      <%= activity.title %>
    </div>
  </div>
  <div class="activity-item-content content-box-text no-padding">
    <div class="left-aligh sm-txt">
      <p><span class="font-alt"><%= humanize_place_type(activity.google_category) %>:</span> <%= activity.establishment %></p>
      <p><span class="font-alt">Description:</span><%= activity.short_description(80) %></p>
      <p><span class="font-alt">URL:</span> <a href="<%= activity.url %>" target="_blank"><%= activity.url %></a></p>
      <p><span class="font-alt">Address:</span><%= activity.address %></p>
      <p><span class="font-alt">Category:</span><%= activity.main_category.title %></p>
      <p><span class="font-alt">Photo:</span><%= cl_image_tag(activity.photo, width: 30, heigh: 20, crop: :fill) unless activity.photo == "" %></p>
      <h4 class="text-center">
        <!-- Trigger the modal with a button -->
        <a href="javascript:;"><span class="icon-pencil" data-toggle="modal" data-target="#myEditModal-<%= activity.id%>"></span></a>
        <%= "  -  " %>
        <%= link_to activity, method: :delete, remote: true, data: {confirm: "Are you sure?"} do %>
          <span class="icon-scissors"></span>
        <% end %>
      </h4>
    </div>
  </div>
  <%= render 'activities/modal_edit_activity', activity: activity %>
</div>
<!-- /PORTFOLIO ITEM -->
