<<<<<<< HEAD
<!-- PORTFOLIO ITEM -->
<div id="act-<%= activity.id %>" class="activity-item illustration webdesign brd-red">
  <div class="activity-item-header">
    <h3 class="work-title font-alt"><%= activity.title %><%= "(#{activity.index})" %></h3>
  </div>
  <div class="activity-item-content work-descr">
    <%= link_to edit_activity_path(activity) do %>
      <strong><%= " @ " + activity.establishment %></strong>
      <%= activity.short_description(50) %>
    <% end %>
    <%= link_to edit_activity_path(activity) do %>
      <i class="fa fa-pencil activity-edit" aria-hidden="true"></i>
    <% end %>
=======
<div class = "col-xs-4 col-lg-2">
  <div class="card_activity_index">
    <div class = "card_activity_index_contenu">
      <p><%= activity.title.downcase.capitalize %></p>
      <%= link_to edit_activity_path(activity) do %>
        <i class="fa fa-pencil activity-edit" aria-hidden="true"></i>
      <% end %>
    </div>
>>>>>>> 2ac1538a083f549ea8bc9bd067cd4707c4f86be9
  </div>
</div>
<!-- /PORTFOLIO ITEM -->
