<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-g" data-toggle="modal" data-target="#myModal">Add Activity</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add your activity!</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for (activity) do |f| %>
          <%= f.label :main_category %>
          <div class="row">
            <% main_categories.each do |main_category| %>
              <div class="col-xs-2">
                <div class="card-category">
                  <label class="form-check-inline category-logo">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio1" value="yes">
                    <%= image_tag main_category.icon, :style => "width: 60px" %>
                    <%= main_category.title %>
                  </label>
                </div>
              </div>
            <% end %>
          </div>
          <%= f.input :address %>
          <%= f.input :establishment, as: :hidden, input_html: { id: 'hidden_establishment' } %>
          <%= f.input :city, as: :hidden %>
          <%= f.button :submit %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
