<%= simple_form_for [trip, activity], remote: true do |f| %>
  <%= f.label :main_category %>
  <div class="row">
    <% main_categories.each do |main_category| %>
      <div id="cat-<%= main_category.id.to_s %>" class="col-xs-2 card-category">
        <label class="form-check-inline category-logo">
        <input class="form-check-input" type="radio" name="radio" id="inlineRadio1" value="yes">
        <br/>
          <%= image_tag main_category.icon, :style => "height: 40px" %>
          <br/><%= main_category.title %>
        </label>
      </div>
    <% end %>
  </div>
  <%= f.input :address %>
  <%= f.input :title, input_html: { id: "activity_cat_title"} %>
  <%= f.input :establishment, as: :hidden %>
  <%= f.input :main_category_id, as: :hidden, required: true %>
  <%= f.input :city, as: :hidden %>
  <%= f.input :google_category, as: :hidden %>
  <%= f.input :google_place_identifier, as: :hidden %>
  <%= f.input :trip_id, as: :hidden %>
  <%= f.button :submit, "Add activity!", class: "btn-g btn-round" %>
<% end %>

<% content_for (:js) do %>
  <script>
    var def_title = true;
    var cat_select = "";
    $('.card-category').on('click', function(event) {
      $('#activity_main_category_id').val(this.id.split("-").pop());
      cat_select = this.innerText + " around "
    });

  </script>
<% end %>

