<!-- Modal -->
<div id="modal_category" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add your activity!</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for (activity) do |f| %>
          <%= f.label :main_category %>
          <div class="row">
            <% main_categories.each do |main_category| %>
              <div id="cat-<%= main_category.id.to_s %>" class="col-xs-2 card-category">
                <label class="form-check-inline category-logo">
                  <input class="form-check-input" type="radio" name="radio" id="inlineRadio1" value="yes">
                  <%= image_tag main_category.icon, :style => "height: 60px" %>
                  <%= main_category.title %>
                </label>
              </div>
            <% end %>
          </div>
          <%= f.input :address %>
          <%= f.input :main_category_id, as: :hidden, required: true %>
          <%= f.input :city, as: :hidden %>
          <%= f.input :google_category, as: :hidden %>
          <%= f.input :google_place_identifier, as: :hidden %>
          <%= f.button :submit %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% content_for (:js) do %>
  <script>
    $('.card-category').on('click', function(event) {
      $('#activity_main_category_id').val(this.id.split("-").pop());
    });
  </script>
<% end %>
