<div class="map_box">
  <h4><%= activity.index.to_s + ' - ' + activity.title %></h4>
  <p style="font-size: 0.8em"><i><%= activity.establishment %> @ <%= activity.address %></i></p>
  <p><strong>Description:</strong> <%= activity.short_description(200) %></p>
  <p><span class="icon-pencil" data-toggle="modal" data-target="#myEditModal-<%= activity.id%>"> Edit</span></p>
</div>
