<!-- Modal -->
<div id="myEditModal-<%= activity.id%>" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit this activity</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for activity, remote: true do |f| %>
          <% if activity.errors.any? %>
           <div id="error_explanation">
             <ul>
             <% activity.errors.full_messages.each do |message| %>
               <li><%= message %></li>
             <% end %>
             </ul>
           </div>
          <% end %>
          <%= f.input :title, input_html: { id: 'activity_edit_title' } %>
          <%= f.input :description, as: :text, input_html: { id: 'activity_edit_description' } %>
          <%= f.input :url, as: :url, placeholder: "https://my-activity-source.com", input_html: { id: 'activity_edit_url' } %>
          <%= f.input :establishment, disabled: true, input_html: { id: 'activity_edit_establishment' } %>
          <%= f.input :address, disabled: true, input_html: { id: 'activity_edit_address' } %>
          <%= f.association :main_category, input_html: { id: 'activity_edit_category' } %>
          <%= f.input :price, input_html: { id: 'activity_edit_price' } %>
          <%= f.input :photo, input_html: { id: 'activity_edit_photo' } %>
      </div>
      <div class="modal-footer">
          <%= f.button :submit, "Update and close" %>
        <% end %>
        <button type="button" class="btn btn-g" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
