<div class="container">
  <div class="row seven-cols">
    <div class="col-md-1"><%= render 'card_activity_index' %></div>
    <div class="col-md-1"><%= render 'card_activity_index' %></div>
    <div class="col-md-1"><%= render 'card_activity_index' %></div>
    <div class="col-md-1"><%= render 'card_activity_index' %></div>
    <div class="col-md-1"><%= render 'card_activity_index' %></div>
    <div class="col-md-1"><%= render 'card_activity_index' %></div>
    <div class="col-md-1"><%= render 'card_activity_index' %></div>
  </div>
</div>
